*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.navbar {
    height: 80px;

    display: flex;

    align-items: center;

    justify-content: space-between;

    padding: 0 6%;

    border-bottom: 1px solid #293148;

    background-color: rgb(18,24,42);
}

.navbar h2 {
    margin: 0;

    font-family: Georgia, serif;

    font-size: 22px;

    color: snow;

}

.nav-links {
    display: flex;

    gap: 32px;
}

.nav-links a {
    color: #8f96aa;

    text-decoration: none;

    font-size: 16px;

    transition: 0.2s;
}

.nav-links a:hover {
    color: #e5a900;
}

.nav-links .active {
    color: #e5a900;
}

body {
    margin: 0;
    padding: 40px;

    background-color: rgb(18, 24, 42);
    color: white;

    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    font-family: Georgia, serif;
    margin-bottom: 50px;
}

.timeline {
    width: 600px;
    margin: auto;

    border-left: 2px solid #e5a900;

    padding-left: 30px;
}

.achievement {
    margin-bottom: 50px;
}

.achievement h2 {
    color: #e5a900;
    margin-bottom: 20px;
}

.achievement h3 {
    font-family: Georgia, serif;
    margin-bottom: 5px;
}

.achievement p {
    color: #aeb5c7;
    line-height: 1.6;
    margin-bottom: 25px;
}